@import url("reset.css");

html,
body {
  padding: 0;
  margin: 0;
  touch-action: none;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: 100%;
  /* font-family: "Inter", sans-serif; */
}

.tldraw__editor {
  overscroll-behavior: none;
  position: fixed;
  inset: 0px;
  overflow: hidden;
}

.tl-background {
  background-color: transparent;
}

.tlui-debug-panel {
  display: none;
}

/* Non-tldraw stuff */

main {
  max-width: 60em;
  margin: 0 auto;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 3em;
  padding-bottom: 3em;
  font-family: "Recursive";
  font-variation-settings: "MONO" 1;
  font-variation-settings: "CASL" 1;
  color: #24292e;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1em;
}

header {
  margin-bottom: 2em;
  font-size: 1.5rem;
  font-variation-settings: "MONO" 1;
  font-variation-settings: "CASL" 1;
}

i {
  font-variation-settings: "slnt" -15;
}

p {
  font-family: Recursive;
  margin-top: 0;
  margin-bottom: 0.6em;
  font-size: 1.1em;
  font-variation-settings: "wght" 350;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.dinkus {
  display: block;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 2em;
  margin-bottom: 0em;
}

ul {
  padding-left: 0;
  font-size: 1rem;
  list-style: decimal-leading-zero;
  & li::marker {
    color: rgba(0, 0, 0, 0.322);
  }
}

#toggle-physics {
  position: absolute;
  z-index: 99999;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.25;
  &:hover {
    opacity: 1;
  }
  & img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 600px) {
  main {
    padding: 2em;
  }
  header {
    margin-bottom: 1em;
  }
  ul {
    list-style-position: inside;
  }
}

.tl-html-layer {
  font-family: "Recursive";
  font-variation-settings: "MONO" 1;
  font-variation-settings: "CASL" 1;
  & h1,
  p,
  span,
  header,
  ul {
    margin: 0;
  }
  & header {
    font-size: 1.5rem;
  }
  & p {
    font-size: 1.1rem;
  }
}

.fade-out {
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.25s;
  /* visibility: hidden; */
  /* display: none; */
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  /* visibility: visible; */
}
